body {
    margin: 0;
}

#game-canvas {
    position: relative;
}

#chat {
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 200px;
    opacity: 0.7;
}

#chat #chatarea {
    color: #00FF00;
    height: 200px;
    overflow: auto;
}

#chat #chatarea p {
    /*line-height: 15px;*/
    margin: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#chatInput {
    background: #000000;
    color: #00ff00;
    border:0;
    width: 245px;
    display: none;
    border-top: 1px solid #ebebeb;
    padding-left: 5px;
}

#chatInput:focus {
    overflow: auto;
}